<h1><%= @item.title %></h1>
<p id=item_authors><strong>Authors: </strong><%= @item.authors.map {|a| a.name}.join(', ') %></p>
<%= link_to 'Back', items_path %> | <%= link_to 'Edit', edit_item_path(@item) %>
