<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
        <% if alert %>
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-exclamation-triangle" style="color:red"></i>
            <strong>Oh snap ! </strong><%= alert %>
        </div>
        <% end %>
        <% if notice %>
        <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;
            </button>
            <i class="fa fa-info" style="color:blue"></i>
            <strong>Heads up ! </strong><%= notice %>
        </div>
        <% end %>
        <% if flash[:success] %>
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;
            </button>
            <i class="fa fa-check" style="color:green"></i>
            <strong>Well done ! </strong><%= flash[:success] %>
        </div>
        <% end %>
        <% if flash[:warning] %>
        <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;
            </button>
            <i class="fa fa-exclamation-circle" style="color:orange"></i>
            <strong>Warning ! </strong><%= flash[:warning] %>
        </div>
        <% end %>
    </div>
</div>
